@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
    --font-style: 'Nunito Sans', sans-sarif;
}
body {
    font-family: --font-style;
    background-color: #322b2b;
}
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 443px;
    height: 440px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color:#151515;
    box-shadow: 0px 1px 4px #b72c2c;
    border-radius: 35px;
}
h1 {
    color: white;
    margin: auto;
}
input {
    width: 75%;
    margin: auto;
    background-color:#dbbdbd;
    padding: 2%;
}